body{
background-color: rgb(94, 14, 14);  
padding: 5em;  
}
 .fondoblanco{
background-color: white;
 }
.imagen{
    width: 250px;
}
.texto1{
text-align: center;
font-size: 3em;
color: white;
}

.texto2{
    font-size: 1em;
    color: white;
    text-align: justify;
}
.separacion{
    padding: 1em;
}
.texto3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.fondonegro{
    background-color: black;
}
.fondorojo{
    background-color: red;
}
.borde{
border: 10px black solid;
border-radius: 10px;
}
a{
    color: black;
}
.texto4{
font-size: large;
text-align: left;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.borde2{
    border: 10px red solid;
    border-radius: 5px;
}
.borde3{
    border: 10px black solid;
    border-radius: 5px;
}